.PageContent
{
  position:relative;
  z-index: 10;
  align-items: "center";
  justify-content: center;
  width: 100%;
  display:block;
  margin:auto;
  margin-top:200px;
}
.ContentBlock
{
  margin:auto;
  width:85vw;
  height:auto;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.6) 5px 5px, rgba(0, 0, 0, 0.4) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px;
  border-width: 0px;
  margin-bottom:30px;
}

.ContentRow
{
  justify-content: center;
  align-items: top;
  display:flex;
  width: 100%;
  position:relative;
}
.ContentExpandableRow
{
  justify-content: center;
  align-items: top;
  display:flex;
  width: auto;
  position:relative;
  padding-left:96px;
  padding-right:96px;
  margin-top:0px;
  margin-bottom:0px;
}

.ContentTextHolder
{
  width:100%;
  height:100%;
  padding-top: 16px;
  margin-left:96px;
  margin-right:96px;

}
.ContentText
{
  top:0;
  text-align: left;
  font-family: SFT Schrifted Sans TRIAL;
  text-wrap: wrap;
  font-size: 16px;
}

.ContentImageHolder
{
  width:100%;
  height:100%;
  margin: 96px;
  margin-top: 64px;
  margin-bottom: 64px;

}

.ContentImage
{
  width:100%;
}
/* Gantari, Soliden Trial, Soliden Trial EXP, */