.PageEntry
{
  width:100%;
  height:auto;
  top:0px;
  white-space: pre-line
}

h1
{
  text-align: left;
  font-family: Next Art;
  font-size: 50px;
  text-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:-20px;
}
h2
{
  text-align: left;
  font-family: SFT Schrifted Sans TRIAL;
  font-size: 34px;
  text-wrap: wrap;
  margin-left:-20px;
}

p
{
  text-align: left;
  font-family: SFT Schrifted Sans TRIAL;
  font-size: 18px;
  text-wrap: wrap;
}

embed
{
  width:100%;
  height:100%;
  min-height:350px;
}
