:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  display:block;
}
button:hover {
  border-color: green;
  filter:blur(1px);
}
button:focus,
button:focus-visible {
  outline: 0x auto -webkit-focus-ring-color;
}

.VerticalCollapsibleContainer
{
  display: table;
  width:1000px;
}

.HorizontalCollapsibleContainer
{
  display: table;
  width:69px;
}

.BackgroundImage
{
  background-image: url("/WebsiteBackground9_albedo.png");
  background-color: rgb(214, 214, 214);
  z-index: 0;
  position:absolute;
  background-repeat: repeat;
  width:100%;
  height:250vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* >>-------USE THIS------<< https://transfonter.org/ */

@font-face
{
font-family: DOSS;
src: url("/Fonts/ExaflopMidTrial.ttf");
}
@font-face {
    font-family: 'Frauen TRIAL';
    src: url('/Fonts/FrauenTRIAL-Script.woff2') format('woff2'),
        url('/Fonts/FrauenTRIAL-Script.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PP Valve Plain';
    src: url('/Fonts/PPValve-PlainExtrabold.woff2') format('woff2'),
        url('/Fonts/PPValve-PlainExtrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greenstone Trial';
    src: url('/Fonts/GreenstoneTrial-Regular.woff2') format('woff2'),
        url('/Fonts/GreenstoneTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Conforto TRIAL';
    src: url('/Fonts/ConfortoTRIAL-Bold.woff2') format('woff2'),
        url('/Fonts/ConfortoTRIAL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teachers';
    src: url('/Fonts/Teachers-Italic.woff2') format('woff2'),
        url('/Fonts/Teachers-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Teachers';
    src: url('/Fonts/Teachers-Regular.woff2') format('woff2'),
        url('/Fonts/Teachers-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aku & Kamu';
    src: url('/Fonts/AkuKamu.woff2') format('woff2'),
        url('/Fonts/AkuKamu.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mr Headlines';
    src: url('/Fonts/MrHeadlines.woff2') format('woff2'),
        url('/Fonts/MrHeadlines.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('/Fonts/NEXTART.woff2') format('woff2'),
        url('/Fonts/NEXTART.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('/Fonts/NEXTART-Heavy.woff2') format('woff2'),
        url('/Fonts/NEXTART-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('/Fonts/NEXTART-Light.woff2') format('woff2'),
        url('/Fonts/NEXTART-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('/Fonts/NEXTART-SemiBold.woff2') format('woff2'),
        url('/Fonts/NEXTART-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('/Fonts/NEXTART-Bold.woff2') format('woff2'),
        url('/Fonts/NEXTART-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rockford Sans';
    src: url('/Fonts/RockfordSans-Light.woff2') format('woff2'),
        url('/Fonts/RockfordSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Toxigenesis Rg';
    src: url('/Fonts/ToxigenesisRg-Bold.woff2') format('woff2'),
        url('/Fonts/ToxigenesisRg-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



