.Bix
{
    width: 400px;
    height: 400px;
    border-width: 2px;
    border-style: dotted;
    border-color:#ff0088;
    position: "relative";
    margin-left: 30px;
    border-radius: 1px;
    padding: 0;
    box-sizing: "border-box";
    align-items: "center";
    justify-content: "center";
    pointer-events: all
}

button:hover {
  border-color: #646cff;
  filter:blur(1px);
}