.CarouselBox
{
  height:400px;
  width: round(nearest, 100%, 1px);
}
.Carousel
{
  position:relative;
  overflow-x:hidden;
  display:flex;
  flex-direction: row;
  height: 100%;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.buttonHolder
{
  width:100%;
  height:100%;
  display: inline-flex;
  position:relative;
  top:-100%;
  left:0%;
}


.CarouselButton
{
  color:black;
  justify-content: center;
  align-items: normal;
  max-width:10%;
  min-width:10%;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.005);
  transition: background-color 0.2s ease-out, text-shadow 0.2s ease-out;
  font-size:200%;
  font-weight:300;
  z-index:5;
}
.CarouselButton:hover
{
  background-color: rgba(0, 0, 0, 0.2);
  filter:contrast(300%);
  text-shadow: 3px 3px rgba(0, 0, 0, 0.3), 6px 6px rgba(0, 0, 0, 0.2);
}

.ProgressHolder
{
  width:100%;
  display: inline-flex;
  position:relative;
  top:-120%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.005);
  margin-left:auto;
  margin-right:auto;

}

.ProgressButton
{
  border-radius: 0px;
  color:black;
  background-color: rgba(0, 0, 0, 0.1);
  transition:0.2s;
}
.ProgressButton:hover
{
  background-color: rgba(0, 0, 0, 0.2);
}
.buttonSpacer
{
  min-width: 20%;
  width:100%
}

.TestSlide1
{
  width:fit-content;
  min-width: 100%;
  background-color: green;
}
.TestSlide2
{
  width:fit-content;
  min-width: 100%;
  background-color: red;
}
.TestSlide3
{
  width:fit-content;
  min-width: 100%;
  background-color: yellow;
}