.ExpandHolder
{
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: block;
  pointer-events: none;
}

.ExpandButton
{
border-radius: 0px;
margin: 0;
padding-left: 0;
padding-right: 0;
pointer-events: all;
width:100%;
top:0px;
}


.ExpandText
{
  overflow:hidden;
  text-align: left;
  font-family: SFT Schrifted Sans TRIAL;
  font-size: 18px;
  text-wrap:wrap;
}