
.HeaderBar
{
  display:flex;
  position:sticky;
  top:0px;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  padding-top: 0px;
  margin-bottom: 60px;
box-shadow: rgba(0, 0, 0, 0.6) 0px 5px, rgba(0, 0, 0, 0.4) 0px 10px, rgba(0, 0, 0, 0.2) 0px 15px, rgba(0, 0, 0, 0.1) 0px 20px, rgba(0, 0, 0, 0.05) 0px 25px;

}
.HeaderButton
{
    border-radius: 0;
    padding-left:40;
    padding-right:40;
    padding-bottom: 5px;
    font-family: Conforto TRIAL;
    letter-spacing: -2.5px;
    font-size: 178%;
    border-width: 0;
}
button
{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.HeaderButton.dark
{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

button:hover
{
  filter:contrast(50%);
}

.buttonImage
{
  height:73px;
}
.buttonSpacer
{
  height:10px;
}