
.HeaderBar
{
  display:flex;
  position:sticky;
  top:0px;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  padding-top: 0px;
  margin-bottom: 60px;
}
.HeaderButton
{
    border-radius: 0;
    padding-left:40;
    padding-right:40;
    font-family: 'Conforto Trial';
    border-width: 0;
}

button:hover
{
  filter:contrast(50%);
}