.HeaderCard
{
  width: 100%;
  height: 37vh;
  background-color: whitesmoke;
  z-index: 100;
  display:flex;
  justify-content: center;
  justify-items: center;
}

button
{

}

button:hover
{
filter:blur(0px);
border-color:transparent;
transition: 0.4s;
}

.LogoHolder
{
  margin-top:6.5vh;
  width:100%;
}

.CentralButton
{
  overflow: hidden;
  background-color: transparent;
  width:100%;
  border-radius:0px;
  padding:0px;
  height:fit-content;
  font-family: Conforto TRIAL;
  letter-spacing: -3px;
}

.CentralButtonText
{
  background-color: transparent;
  width:100%;
  border-radius:0px;
  padding:0px;
  height:fit-content;
  font-size: 8.70vh;
  font-family: Conforto TRIAL;
  letter-spacing: -3px;
  transition: 0.4s;
}

.CentralButton:hover
{
  text-shadow: 4px 4px rgba(0, 0, 0, 0.4), 8px 8px rgba(0, 0, 0, 0.2);
}

.UpperButton
{
  overflow: hidden;
  background-color: transparent;
  width:100%;
  border-radius:0px;
  padding:0px;
  height:11vh;
  font-family: Conforto TRIAL;
  letter-spacing: -3px;
}
.UpperButtonText
{
  background-color: transparent;
  width:100%;
  border-radius:0px;
  padding:0px;
  font-size: 7.65vh;
  height:100px;
  position:relative;
  font-family: Conforto TRIAL;
  letter-spacing: -3px;
  top:5.4vh;
  transition: 0.4s;
}

.UpperButtonText:hover
{
  filter:blur(0px);
  border-color:transparent;
  top:0.4vh;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.4), 8px 8px rgba(0, 0, 0, 0.2);
}

.LowerButton
{
  overflow: hidden;
  background-color: transparent;
  width:100%;
  border-radius:0px;
  padding:0px;
  height:9vh;
  font-family: Conforto TRIAL;
  letter-spacing: -3px;
}

.LowerButtonText
{
  background-color: transparent;
  width:100%;
  border-radius:0px;
  padding:0px;
  font-size: 7.65vh;
  height:fit-content;
  position:relative;
  top:-5vh;
  transition: 0.4s;
}

.LowerButtonText:hover
{
  filter:blur(0px);
  border-color:transparent;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.4), 8px 8px rgba(0, 0, 0, 0.2);
  top:-11px;
}